.App {
  text-align: center;
}

.App h2 {
  font-size: 1.5rem;
}

.App-logo {
  height: 2rem;
  pointer-events: none;
  margin-bottom: -0.4rem;
}

.App-header {
  background-color: #060607;
  min-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(241, 68, 68);
}

.App-header:hover {
  /* text-decoration: underline; */
  opacity: 0.98;
  color: rgb(162, 0, 255)
}

.FarmerDashboard {
  height: 10em;
  columns: 3;
  overflow-y: scroll;
}

.FarmerDashboard:hover {
  color: #3e10d4
}

.MarketDashboard {
  height: 300px;
  overflow-y: scroll;
}

.MarketDashboard:hover {
  color: rgb(48, 0, 182)
}

.FieldDashboard {
  height: 500px;
  overflow-y: scroll;
}

.FieldDashboard:hover {
  color: rgb(48, 0, 182)
}

.Weather{
  display: inline-flex;
  font-size: 15px;
  margin-left: 10px
}

.Weather img {
  height: 50px;
  width: 50px;
}

.App-link {
  color: #61dafb;
}
